.header {
  height: 70px;
  background-color: rgb(56, 56, 56);
  padding-top: 10px;
  box-shadow: 2px 2px 2px 2px rgb(180, 179, 179);
}
.logo {
  width: 80px;
  height: 70px;
  margin-top: -10px;
  margin-left: 20px;
}
.HomeLink {
  color: azure;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin-left: 1000px;
}
.AboutLink {
  color: azure;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin-left: 20px;
}
.loginLink {
  color: azure;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}
.loginLink11 {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin-left: 1150px;
  font-weight: bold;
}
